{
  "extends": "brightspace/node-config",
  "globals": {
  	"describe": true,
  	"it": true,
    "before": true,
    "afterEach": true
  },
  rules: {
  	"no-console": 1
  },
  "envs": [
  	"mocha"
  ]
}
